/* You should edit the content below to fit your website */

* {
	font-family: Arial, Verdana, sans-serif;
	color: #f5eec2;
	text-align: center;
	background-color: #beige;
}
body {
	width: 960px;
	margin: 0 auto;
	background-color: #beige;
}

nav {
	background-color: #32612D;
	padding: 5px;
	margin:  10px;
	text-align: center;
}

main {
	background-color: #32612D;
	padding: 10px;
	margin:  10px;
}

article {
	background-color: #FBFAF2;
	padding: 2px;
	margin:  10px;
}

.mart {
	float: center;
	padding: 2px;

}

.mart2 {
	display: inline;
	text-align: center;
}

li{ 
	text-align: left;
 }
#content {
	overflow: auto;
	height: 100%;}
.column1, .column2, .column3 {
	float: left;
	margin: 10px;}
